.flex-container {
    display: flex;
    flex-direction: column;
    height: 400px;
    width: 400px;
    background-color: cornflowerblue;
}

.flex-outer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}